<a href="https://colab.research.google.com/github/KindOrca/ds-section1-sprint1-new/blob/main/111_2%EC%B0%A8_%EC%A0%9C%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 1*

---

# 📝 Assignment

# 1. 데이터셋 불러오기 및 확인 

- 다음 url에서 엑셀 파일을 불러오세요. (pandas excel) 
  - https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx
  - 파일은 2개의 시트로 구성되어 있으며 각각 이름은 008770, 035250 입니다.

- 데이터셋 변수의 이름은 df1, df2로 저장하세요.

- row가 아닌 column에 '매출액', '영업이익' 이 가도록 데이터를 transpose 하세요.

- 이후 아래 링크를 참조하여 첫번째 row를 column name으로 설정하세요. <br>
  https://stackoverflow.com/questions/31328861/python-pandas-replacing-header-with-top-row

- 데이터의 dimension을 확인하세요.

- 데이터의 결측치가 어디에 있는지 확인 후 0으로 대체하세요.

- 읽었던 엑셀 파일의 내용을 2개의 csv로 각각 출력하세요. (python export csv) 
  - 이름은 각각 df1.csv, df2.csv 입니다.

In [2]:
import pandas as pd
import numpy as np

# url 에서 엑셀 파일 불러오기
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx'

# df1, df2에 저장
df1 = pd.read_excel(url, sheet_name = '008770 ')
df2 = pd.read_excel(url, sheet_name = '035250')

# row가 아닌 column에 '매출액', '영업이익'이 가도록 데이터 transpose하기
df1 = df1.T
df2 = df2.T

# 첫 번째 row를 column name으로 설정
new_header = df1.iloc[0]
df1 = df1[1:]
df1.columns = new_header
new_header2 = df2.iloc[0]
df2 = df2[1:]
df2.columns = new_header2

# 데이터의 dimension 확인
df1.ndim
df2.ndim

# 결측치 위치 확인 후 0으로 대체
df1.isnull()
df2.isnull()
df1 = df1.fillna(0)
df2 = df2.fillna(0)

# csv로 출력
df1.to_csv('df1.csv')
df2.to_csv('df2.csv')

# 2. Feature Engineering
- 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio(PDR)를 계산하세요.

 ## $\rm PDR = {시가총액 \over 해당~기업이~포함된~전체~시장~규모(TAM)~\times~시장점유율}$
  - 변수 이름 `df3`로 데이터프레임을 생성합니다. 아래와 같은 형태이어야 합니다. 
  - feature 이름은 `PDR`로, `df3['PDR']`을 통해 `~` 값이 확인되어야 합니다. 
    - PDR에 100을 곱한 백분율(%)을 구합니다. 

||구분|종가|발행주식수|시가총액|시장점유율|시장규모|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18년|101500|137292497|13935188445500|62.0|15000000000000|~|
|1|19년|93800|137292497|12878036218600|63.5|15000000000000|~|

In [3]:
# 18/19년도에 대해서 Price to Dream Ratio(PDR)를 계산
values = [['18년',101500,137292497,13935188445500,62.0,15000000000000,None],['19년',93800, 137292497,12878036218600,63.5,15000000000000, None]]
column = ['구분','종가','발행주식수','시가총액','시장점유율','시장규모','PDR']
df3 = pd.DataFrame(values, columns=column)

df3['PDR'] = df3['시가총액'] / (df3['시장규모'] * df3['시장점유율'] / 100) * 100
df3

    구분      종가      발행주식수            시가총액  시장점유율            시장규모         PDR
0  18년  101500  137292497  13935188445500   62.0  15000000000000  149.840736
1  19년   93800  137292497  12878036218600   63.5  15000000000000  135.202480

# 3. 중복된 데이터 살펴보기 

- 와인 데이터셋을 사용합니다. 

- 공식문서를 참조하여 중복된 데이터를 모두 확인해 봅니다. <br>
  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

In [4]:
from google.colab import files
file = files.upload()

Saving winequality-red.csv to winequality-red.csv
Saving winequality-white.csv to winequality-white.csv

In [5]:
wine_red = pd.read_csv('winequality-red.csv',sep = ';')
wine_white = pd.read_csv('winequality-white.csv', sep = ';')

print(wine_red.duplicated())
print(wine_white.duplicated())

0       False
1       False
2       False
3       False
4        True
        ...
1594    False
1595    False
1596     True
1597    False
1598    False
Length: 1599, dtype: bool
0       False
1       False
2       False
3       False
4        True
        ...
4893    False
4894    False
4895    False
4896    False
4897    False
Length: 4898, dtype: bool

# 🔥 도전과제

## NA Value Handling

- 데이터셋을 불러옵니다. 

- 19년도 4분기의 당기순이익(비지배) 부분을 Na로 대체하세요

- 이후 해당 결측치를 mean imputation 방법을 사용하여 처리하세요.

In [6]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

In [30]:
# 데이터셋 불러오기
df = pd.read_csv(url, header = None)
df.columns = headers

# 19년도 4분기의 당기순이익(비지배) 부분을 Na로 대체
df.at[2,'당기순이익(비지배)'] = None

# 해당 결측치를 mean imputation 방법을 사용하여 처리
df = df.fillna(df.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  if __name__ == '__main__':

,분기,매출액,영업이익,영업이익(발표기준),세전계속사업이익,당기순이익,당기순이익(지배),당기순이익(비지배),자산총계,부채총계,...,투자활동현금흐름,재무활동현금흐름,영업이익률,순이익률,ROE(%),ROA(%),부채비율,자본유보율,EPS(원),PER(배)
0,19/6,"12,578","3,991","3,991","4,452","3,245","3,228",17.00,"108,464","25,940",...,"-1,878","-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77
1,19/9,"13,222","3,825","3,825","4,503","3,221","3,208",13.00,"106,314","20,691",...,-83,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87
2,19/12,"11,982","2,523","2,523","1,794","1,183","1,198",10.75,"107,121","20,062",...,-501,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42
3,20/3,"11,784","3,150","3,150","4,156","2,939","2,930",9.00,"108,594","24,862",...,"-1,392",-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71
4,20/6,"13,188","3,947","3,947","4,020","2,935","2,931",4.00,"110,282","23,386",...,-214,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46

## Feature Engineering

Relative Perfomance 라는 새로운 feature를 계산하세요.

이는 최근 1년치 매출액의 평균값을 기준으로 

- 10% 이상 -> `S`
- 5% 이상 -> `A`
- -5 ~ 5% -> `B`
- -5%이하 -> `C`
- 10%이하 -> `D`

라는 값을 갖는 feature입니다.

20년도 2분기에 해당하는 결과값은 `A`가 나와야합니다.

각각에 해당하는 등급이 나오기 위해서 필요한 매출액을 추가로 서술하세요.

In [65]:
# 최근 1년치 매출액의 평균값
# df['매출액'] = df['매출액'].str.replace(',','')
df = df.astype({'매출액':float})
sales_mean = df['매출액'].tail(4).mean()

# cut을 위한 bin, label 설정
bin = [0, sales_mean*90/100, sales_mean*95/100, sales_mean*105/100, sales_mean*110/100, 100000000]
label = ['D','C','B','A','S']

# Relative Perfomance 라는 새로운 feature를 계산
df['Relative Perfomance'] = pd.cut(df['매출액'],bins = bin, labels = label)
print(df)

# 각각에 해당하는 등급이 나오기 위해서 필요한 매출액을 추가로 서술
for i in range(1, 5):
  print(label[i],':',bin[i])

      분기      매출액   영업이익 영업이익(발표기준) 세전계속사업이익  당기순이익 당기순이익(지배)  당기순이익(비지배)  \
0   19/6  12578.0  3,991      3,991    4,452  3,245     3,228       17.00
1   19/9  13222.0  3,825      3,825    4,503  3,221     3,208       13.00
2  19/12  11982.0  2,523      2,523    1,794  1,183     1,198       10.75
3   20/3  11784.0  3,150      3,150    4,156  2,939     2,930        9.00
4   20/6  13188.0  3,947      3,947    4,020  2,935     2,931        4.00

      자산총계    부채총계  ... 재무활동현금흐름  영업이익률   순이익률 ROE(%) ROA(%)   부채비율   자본유보율  \
0  108,464  25,940  ...   -4,919  31.73  25.80  12.35   9.37  31.43  803.22
1  106,314  20,691  ...     -329  28.93  24.36  12.67   9.95  24.17  836.86
2  107,121  20,062  ...     -129  21.06   9.87  12.39   9.96  23.04  850.82
3  108,594  24,862  ...      -86  26.73  24.94  13.05   9.79  29.69  823.16
4  110,282  23,386  ...   -5,501  29.93  22.25  12.20   9.40  26.91  837.40

   EPS(원)  PER(배)  Relative Perfomance
0   2,351   13.77                    B
1   2,337   13.87                    A
2     873   12.42                    B
3   2,134    9.71                    C
4   2,135   10.46                    A

[5 rows x 26 columns]
C : 11289.6
B : 11916.8
A : 13171.2
S : 13798.4